/********************** 
* val
***********************/
$f-m : 'Karla', sans-serif;
$f-p : 'Playfair Display', serif;
$f-n : 'NanumBrunGothic', serif;

/********************** 
* layout
***********************/
div.wrapper {
    position: relative;
    margin: 0 auto;
    
    section {

    }
}

/********************** 
* header
***********************/
header {

}

/********************** 
* footer
***********************/
footer {

}

/********************** 
* globals
***********************/
//input focus remove outline
*:focus {
    outline: none;
}
