/********************** 
* val
***********************/
$f-m : 'Karla', sans-serif;
$f-p : 'Playfair Display', serif;
$f-n : 'NanumBrunGothic', serif;

/********************** 
* layout
***********************/
div.wrapper {
    position: relative;
    margin: 0 auto;
    
    section {

    }

    a.skyscrapper {
        position: fixed;
        width: 30px; height: 30px;
        background: gray;
        right: 10px;
        bottom: 20px;
        z-index: 10;
    } 
}

/********************** 
* header
***********************/
header {
    div.fixed-nav {
        position: fixed;
        width: 100%;
        height: 60px;
        top: -60px; left: 0;
        background: gray;
        -webkit-transition: top .3s ease-in-out; 
        transition: top .3s ease-in-out; 
        z-index: 10;

        &.scrolled {
            top: 0;
        }
    }
}

/********************** 
* footer
***********************/
footer {

}

/********************** 
* globals
***********************/
//input focus remove outline
*:focus {
    outline: none;
}
